body {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	background-color: #fff;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}

header {
	grid-column: 2/12;
}


/*Creat Header Block*/

.header-block {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left-block {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;


}
.mic-logo {
	width: 108px;
	height: 23px;
	padding-right: 10px;
}

.header-left-block nav ul {
	display: flex;
}

.header-left-block nav ul li a {
	display: inline-block;
	color: #262626;
	text-align: center;
	font-size: 12px;
	padding: 0 20px;
}

.header-left-block nav ul li a:hover span {
	border-bottom: 2px solid #262626;
}



.header-right-block {
	display: flex;
	justify-content: center;
	text-align: center;
}

.all-microsoft {
	margin-right: 10px;
}

.all-microsoft>a {
	color: #262626;
	font-size: 12px;
	display: inline-block;
	padding: 16px 24px 16px 15px;
	position: relative;
}

.all-microsoft>a:hover span {
	border-bottom: 2px solid #262626;

}

.all-microsoft>a::after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	position: absolute;
	top: calc(50% - 4px);
	right: 10px;
	background: url(img/bottom.png) no-repeat;
	background-position: cover;
	background-size: 8px;
}

.search {
	margin-right: 10px;
}


.search>a {
	color: #262626;
	font-size: 12px;
	display: inline-block;
	padding: 16px 24px 16px 15px;
	position: relative;
}

.search>a:hover span {
	border-bottom: 2px solid #262626;

}

.search>a::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	top: calc(50% - 10px);
	right: 5px;
	background: url(img/lup.png) no-repeat;
	background-position: cover;
	background-size: 14px;
}

.cart {
	margin-right: 10px;
}


.cart>a {
	color: #262626;
	font-size: 12px;
	display: inline-block;
	padding: 16px 24px 16px 15px;
	position: relative;
}

.cart>a:hover span {
	border-bottom: 2px solid #262626;

}

.cart>a::after {
	content: "";
	display: block;
	width: 20px;
	height: 18px;
	position: absolute;
	top: calc(50% - 12px);
	right: 1px;
	background: url(img/cart.png) no-repeat;
	background-position: cover;
	background-size: 18px;
}

.sign-in {
	margin-right: 10px;
}


.sign-in>a {
	color: #262626;
	font-size: 12px;
	display: inline-block;
	padding: 16px 36px 16px 15px;
	position: relative;
}



.sign-in>a::after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: calc(50% - 15px);
	right: 0;
	background: url(img/user.svg) no-repeat;
	background-position: cover;
	background-size: 30px;
	opacity: 0.5;
}

/*slideshow block*/

.slidebar-block {
	grid-column: 2/12;
	background-color: #CD8C95;
	height: 600px;
}

/*Product list block*/

.product-list-block {
	grid-column: 2/12;
	height: 400px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
}

.product {
	width: 23.8%;
	background-color: #fff;
	height: 100%;

}

.product>a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

}

.product>a img {
	width: 100%;
	margin-bottom: 40px;
}

.product>a:hover img {
	opacity: .7;
}

.product>a h3 {
	color: #000;
	font-size: 20px;
	margin: 0;
}

.product>a p {
	color: #000;
	margin: 5px 0;
	font-size: 16px;
}

.product>a .shop {
	
	height: 30px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 600;
	line-height: 30px;
	position: relative;
	color: #00ad97;
	transition: 0.5s;

}

.product>a .shop:hover span {
	border-bottom: 2px solid #00ad97;
}
.product>a .shop:hover::after {
	transform: translateX(5px);
}
.product>a .shop::after {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: calc(50% - 6px);
	right: -15px;
	background: url(img/product/right-arrow.svg) no-repeat;
	background-position: cover;
	background-size: 12px;
	font-weight: 900;
	transition: 0.5s;
}


/*Xbox one S slide*/

.xbox-slide {
	grid-column: 2/12;
	height: 500px;
	margin-top: 0;
	background-color: #FFDAB9;
	position: relative;
}

.xbox-slide>a img {
	width: 100%;
	height: 100%;

}

.xbox-slide>a {
	width: 100%;
	height: 100%;
}

.xbox-one-text-block {
	width: 35%;
	height: 200px;
	position: absolute;
	top: calc(50% - 60px);
	left: 5%;
}

.xbox-one-text-block>h2 {
	font-size: 36px;
	margin: 0;
	color: #000;

}

.xbox-one-text-block>p {
	color: #000;
}

.xbox-one-s-shop {
	background-color: #000;
	display: inline-block;
	width: 140px;
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
	position: relative;

}

.xbox-one-s-shop>span {
	 color: #fff;
	 text-transform: uppercase;
	 font-size: 15px;
	 font-weight: 600;
	 display: inline-block;
	 transition: 0.5s;
	 margin: 0;
	 padding: 0;


}

.xbox-one-s-shop::after {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: calc(50% - 6px);
	right: 35px;
	background: url(img/product/right-arrow-white.png) no-repeat;
	background-position: cover;
	background-size: 12px;
	font-weight: 900;
	transition: 0.5s;

}

.xbox-one-s-shop:hover span {
	transform: translateX(-5px);
}
.xbox-one-s-shop:hover span>span {
	border-bottom: 2px solid #fff;
}
.xbox-one-s-shop:hover::after {
	transform: translateX(5px);
}